.holder{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.holder .inner-holder{
    width: 950px;
    height: 400px;
    padding: 50px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.holder .inner-holder .left, .holder .inner-holder .right{
    height: 100%;
}

.holder .inner-holder .left img{
    width: 450px;
    height: auto;
}

.holder .inner-holder .right{
    height: 100%;
    width: 450px;
}

.holder .inner-holder .right img{
    width: 450px;
}

.holder p{
    width: 950px;
}

.mapa-pizzaria{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 75px 0;
}

.mapa-pizzaria h2{
    font-family: "Libre Baskerville", serif;
    margin-left: 100px;
    padding-bottom: 35px;
}

.mapa-pizzaria img{
    width: 60%;
    height: auto;
    align-self: center;
}