@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #0C0404;
}

h3{
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 15px;
}

p{
    font-family: "Montserrat", sans-serif;
}

header{
    height: auto;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(12,4,4);
    background: linear-gradient(180deg, rgba(12,4,4,1) 0%, rgba(9,9,121,0) 100%);
    z-index: 5;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
}

.logo {
    height: 100px;
    width: auto;
}

nav {
    height: fit-content;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a{
    color: #fff;
    text-decoration: none;
}

.header-image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

footer{
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: 0;
    background: rgb(12,4,4);
}

.footer_contato{
    margin-left: 100px;
    color: #fff;
    display: block;
    padding-bottom: 35px;
    
}

.footer_visitar{
    margin-left: 100px;
    color: #fff;
    display: bloc;
    padding-bottom: 35px;
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 12px;
}