

  
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
    max-width: 100%;
    margin: 5rem;
  }
  
  .container div {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"] {
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-size: 1rem;
    padding: 10px;
    outline: none;
    width: 50%;
    box-sizing: border-box;
    margin-top: 10px;
  }
  
  input[type="text"]::placeholder {
    color: #ffffff;
    opacity: 0.8;
  }
  
  input[type="text"]:focus {
    border-bottom: 1px solid #ffffff;
    outline: none;
  }
