.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    margin: 5rem;
}

.container-pizza {
    display: grid;
    border-color: white;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    margin: 5rem;
}

.pizza-slices{
    align-items: center;
    min-width: 100%;
    text-align: center;
}

.container-endereco {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    margin: 5rem;
}

.container-centralizado{
    display: grid;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.container-item {
    align-items: center;
    min-width: 100%;
    text-align: center;
}

.titulo_montagem{
    width: 100%;
}

select {
    background: none;
    border: 1px solid #ffffff;
    color: #fdfdfd;
    font-size: 1rem;
    padding: 10px;
    outline: none;
    width: 60%;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 5px;
    appearance: none; /* Remove default dropdown arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23fff" d="M2 0L0 2h4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 8px 10px;
}

select:focus {
    border-color: #ffffff;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

input {
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 1rem;
    padding: 10px;
    outline: none;
    width: 60%;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 5px;
    appearance: none; /* Remove default dropdown arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 8px 10px;
}

input:focus {
    border-color: #ffffff;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

select option {
    background-color: #0C0404;
    color: #ffffff;
}