h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

.container {
    display: contents;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    margin: 5rem;
}

.container div {
    display: flex;
    flex-direction: column;
}

select {
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 1rem;
    padding: 10px;
    outline: none;
    width: 50%;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 5px;
    appearance: none; /* Remove default dropdown arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23fff" d="M2 0L0 2h4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 8px 10px;
}

select:focus {
    border-color: #ffffff;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

select option {
    background-color: #0C0404;
    color: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    justify-content: center;
    background-color: #0C0404;
}

h3 {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 15px;
}

p {
    font-family: "Montserrat", sans-serif;
}

header {
    width: auto;
    height: 700px;
    padding: 0 50px;
    background-image: url("../assets/images/header.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    height: 100px;
    width: auto;
}

nav {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(12,4,4);
    background: linear-gradient(180deg, rgba(12,4,4,1) 0%, rgba(9,9,121,0) 100%);
    z-index: 5;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
}

nav .links {
    height: fit-content;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    color: #fff;
    text-decoration: none;
}

footer {
    width: 100%;
    height: fit-content;
}

.footer_contato {
    margin-left: 100px;
    color: #fff;
    display: block;
    padding-bottom: 35px;
}

.footer_visitar {
    margin-left: 100px;
    color: #fff;
    display: block;
    padding-bottom: 35px;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 12px;
}
